.TextLabels{
    -fx-font-weight: bold;
    -fx-font-size: 23;
    -fx-text-fill: green;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 5, 0.0 , 0 , 1 );
}
.NoteLabels{
    -fx-pref-width: 35;
    -fx-pref-height: 45;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 23;
    -fx-text-fill: red;
    -fx-border-color: blue;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 5, 0.0 , 0 , 1 );
}